header.header {
  background-color: #FFFFFF !important;
  position: sticky;
  top: 0;
  padding: 10px;
}

.navbarText {
  color: #404040;
  text-decoration: none;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}